/*  */
body {
    margin: 0;
}

/*  */

/* .transaction_list {
    border: 1px solid green;
}

.transaction_card {
    border: 1px solid red;
}

.transaction_card div {
    border: 1px solid black;
} */

.cards {
    display: flex;
}